.card.theme-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.2);
    padding: 3rem;
    background: #dedede;
    opacity: 0;
    animation: animateModal 500ms ease-in forwards;
}

@keyframes animateModal {
    to{
        opacity: 1;
    }
}


.card.theme-modal:hover{
    background: #dedede;
}

.card.theme-modal small{
    margin-top: 0.6rem;
    display: block;
    width: 80%;
    margin-inline: auto;
}

.theme-primary-wrapper{
    margin: 3rem 0;
}

.theme-primary-colors{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.theme-primary-colors button{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}

.theme-primary-colors .color-1{
    background: hsl(270, 70%, 46%);
}

.theme-primary-colors .color-2{
    background: hsl(110, 70%, 46%);
}

.theme-primary-colors .color-3{
    background: hsl(240, 70%, 46%);
}

.theme-primary-colors .color-4{
    background: hsl(325, 70%, 46%);
}

.theme-primary-colors .color-5{
    background: hsl(0, 70%, 46%);
}

.theme-primary-colors .color-6{
    background: hsl(52, 70%, 46%);
}

.theme-background-colors{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.theme-background-colors button{
    width: 7rem;
    height: 2.5rem;
    background: white;
    border-radius: var(--border-radius-3);
    cursor: pointer;
}
.theme-background-colors .bg-2{
    background: var(--color-black);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .card.theme-modal {
        width: var(--container-width-md);
        padding: 3rem 1.5rem;
    }
 
    .theme-primary-colors {
        gap: 0.6rem;
    }
}